.outline{
    display:flex;
    margin: 10px;
    padding:20px;
    -webkit-box-shadow: 7px 5px 15px 5px rgba(0,0,0,0.24); 
    box-shadow: 7px 5px 15px 5px rgba(0,0,0,0.24);
    border-radius: 10px;
    background-color: white;
}
.text{
    margin-top: 60px;
    text-align: left;
}