.teamInfo{
    flex: 5;
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: rgb(241, 231, 248);
    border-radius: 10px;
}

.photo{
    height: 200px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}
.picture{

    text-align: center;
    margin-top: 10px;
}
.column{
    float: left;
    width: 33.3%;
    margin-bottom: 5px;
    padding: 0 12px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51);
}
.info{
    margin-left: 10px;
    margin-right: 5px;
    justify-content: center;
    text-align: center;
}
