.sidebar{
    flex:1;
    height: calc(100vh - 100px);
    background-color:#774ffe;    ;
    position:sticky;
    top:20px;
    margin-top: 20px;
    
    border-radius: 10px;
}

img {
    height:55px;
}

.sidebarWrapper{

    color:#555;

}

.sidebarList{
    list-style:none;
    padding: 5px;
}
h3{
    margin-left: 10%;
}

.sidebarListItem{

    padding: 20px;
    cursor: pointer;
    display:flex;
    align-items: center;
    border-radius:10px;
    color:white;

}


.sidebarListItem:hover {
    background-color: rgb(180, 151, 201);
    margin-right: 10%;
    
}
.sidebarIcon{
    
    font-size: 20px !important;
}
.logosmall{
    display: none;
}
@media(max-width:800px){
    .sidebarList h3{
        display: none;
    }

    
    .sideBaricon{
        justify-content: center;
    }

}

@media(max-width:1000px){

    .logosmall{
        display: inline;
    }
    .logo{
        display: none;
    }
}
@media(max-width:900px){
    .icons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

}
@media(max-width:400px){

    .sidebarListItem{

        padding: 10px;
        cursor: pointer;
        display:flex;
        align-items: center;
        
        color:white;
    
    }
}