.sidebar{
    flex:1;
    height: calc(100vh - 100px);
    background-color:#502b66;
    position:sticky;
    top:20px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 10px;
}

img {
    height:50px;
  
}
.bottom{
    float:left;
}
.sidebarWrapper{

    padding:20px;
    color:#555;

}
.icons{
    bottom: 0%;
    position: fixed;
    align-items: center;
    justify-content: space-around;
}
.sidebarTitle{
    font-size:13px;
    margin-left: 3px;
    color: lightgray;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarList{
    list-style:none;
    padding: 5px;
}


.sidebarListItem{

    padding: 20px;
    cursor: pointer;
    display:flex;
    align-items: center;
    border-radius:10px;
    color:white;

}


.sidebarListItem:hover {
    background-color: rgb(180, 151, 201);
    margin-right: 20px;
    
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}